@import "variables"
@import "fonts"
@import "classes"
@import "header"
@import "footer"
@import "index"

// Bootstrap
@import '~bootstrap/scss/bootstrap'
@import '~font-awesome/scss/font-awesome'

html, body
    height: 100%

html
    font-size: 14px
    background-color: #f7f3ec !important

body
    font-size: 1rem
    opacity: 1 !important
    visibility: visible !important
    background-color: #f7f3ec !important
    font-family: 'Roboto', sans-serif !important

.card
    border-radius: 16px
